body{
	position: relative;
	height: 100vh;
	display: grid;
	place-content: center;
	background: var(--background);
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 300;
}
.calculator{
	position: relative;
	width: 350px;
	height: 530px;
	background-color: white;
	border-radius: 35px;
	box-shadow: 0px 0px 20px 5px black;
	color: black;
	padding: 10px;
	box-sizing: border-box;
}
#res{
	height: 100px;
	width: 100%;
	background-color: white;
	border: none;
	font-size: 40px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}
#c{
	height: 50px;
	width: 50px;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	font-size: 40px;
	text-align: center;
	float: left;
	padding: 5px;
	
	margin-top: 5%;
	margin-left: 5%;
}
#del{
	height: 50px;
	width: 50px;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	font-size: 40px;
	text-align: center;
	float: left;
	padding: 5px;
	margin-left: 5%;
	margin-top: 5%;
}
#pers{
	height: 50px;
	width: 50px;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	font-size: 40px;
	text-align: center;
	float: left;
	padding: 5px;
	margin-left: 5%;
	margin-top: 5%;
	
}

#div{
	height: 50px;
	width: 50px;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	font-size: 40px;
	text-align: center;
	float: left;
	padding: 5px;
	margin-top: 5%;
	margin-left: 5%;
	background-color: orange;
	color: white;
}
#del{
	height: 50px;
	width: 50px;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	font-size: 40px;
	text-align: center;
	float: left;
	padding: 5px;
	margin-top: 5%;
	margin-left: 5%;
}
#n9{
	height: 50px;
	width: 50px;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	font-size: 40px;
	text-align: center;
	float: left;
	padding: 5px;
	margin-top: 5%;
	margin-left: 5%;
}
#n8{
	height: 50px;
	width: 50px;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	font-size: 40px;
	text-align: center;
	float: left;
	padding: 5px;
	margin-top: 5%;
	margin-left: 5%;
}
#n7{
	height: 50px;
	width: 50px;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	font-size: 40px;
	text-align: center;
	float: left;
	padding: 5px;
	margin-top: 5%;
	margin-left: 5%;
}
#n6{
	height: 50px;
	width: 50px;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	font-size: 40px;
	text-align: center;
	float: left;
	padding: 5px;
	margin-top: 5%;
	margin-left: 5%;
}
#n5{
	height: 50px;
	width: 50px;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	font-size: 40px;
	text-align: center;
	float: left;
	padding: 5px;
	margin-top: 5%;
	margin-left: 5%;
}
#n4{
	height: 50px;
	width: 50px;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	font-size: 40px;
	text-align: center;
	float: left;
	padding: 5px;
	margin-top: 5%;
	margin-left: 5%;
}
#n3{
	height: 50px;
	width: 50px;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	font-size: 40px;
	text-align: center;
	float: left;
	padding: 5px;
	margin-top: 5%;
	margin-left: 5%;
}
#n2{
	height: 50px;
	width: 50px;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	font-size: 40px;
	text-align: center;
	float: left;
	padding: 5px;
	margin-top: 5%;
	margin-left: 5%;
}
#n1{
	height: 50px;
	width: 50px;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	font-size: 40px;
	text-align: center;
	float: left;
	padding: 5px;
	margin-top: 5%;
	margin-left: 5%;
}
#add{
	height: 50px;
	width: 50px;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	font-size: 40px;
	text-align: center;
	float: left;
	padding: 5px;
	margin-top: 5%;
	margin-left: 5%;
	background-color: orange;
	color: white;
}
#sub{
	height: 50px;
	width: 50px;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	font-size: 40px;
	text-align: center;
	float: left;
	padding: 5px;
	margin-top: 5%;
	margin-left: 5%;
	background-color: orange;
	color: white;
}
#zero{
	height: 50px;
	width: 50px;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	font-size: 40px;
	text-align: center;
	float: left;
	padding: 5px;
	margin-top: 5%;
	margin-left: 5%;
	
}
#dot{
	height: 50px;
	width: 50px;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	font-size: 40px;
	text-align: center;
	float: left;
	padding: 5px;
	margin-top: 5%;
	margin-left: 5%;
}
#eql{
	height: 50px;
	width: 110px;
	background-color: white;
	border: 2px solid black;
	border-radius: 10%;
	font-size: 40px;
	text-align: center;
	float: left;
	padding: 5px;
	margin-top: 5%;
	margin-left: 5%;
	background-color: orange;
	color: white;
}
#mul{
	height: 50px;
	width: 50px;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	font-size: 40px;
	text-align: center;
	float: left;
	padding: 5px;
	margin-top: 5%;
	margin-left: 5%;
	background-color: orange;
	color: white;
}
